.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d97706; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f9fafb;
}


@media (max-width:321px){
  #table-width-fixed{
    width: 290px;
  }
}

@media (min-width:322px) and (max-width:376px){
  #table-width-fixed{
    width: 350px;
  }
}

@media (min-width:377px) and (max-width:426px){
  #table-width-fixed{
    width: 400px;
  }
}

@media (min-width:427px) and (max-width:769px){
  #table-width-fixed{
    width: 530px;
  }
}

@media (min-width:770px) and (max-width:1024px){
  #table-width-fixed{
    width: 790px;
  }
}
